
body {
    /* background: #000; */
    line-height: 2;
}

.c {
    color: #fff;
    opacity: 0
    
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  /*animation-name: fadeIn;*/
  animation: fadeIn 1s both;
}

.content {
    font-size: 108px;
    padding: 200px 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
}

.animated {
  /*animation-duration: 1s;*/
   /*animation-fill-mode: both;*/
   animation-duration: 1s;
   animation-fill-mode: both;
}
header {
  background-image: url('pngtree-yellow-lanterns-watermelon-and-rice-dumplings-vietnamese-new-year-background-image_557854.jpg'); /* Thay thế bằng đường dẫn đến ảnh nền của bạn */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px;
}
